body {
    font-family: 'Montserrat', sans-serif;  
}

/*index.html csss*/
#welcome-section {
    text-align: center;
    padding: 10%;
    flex: 50%;  
    background-image: url(/background.jpeg);
    background-repeat: no-repeat;
}

#welcome-section h1 {
    color: white;
    font-size: 300%;
}
#welcome-section h1:hover{
    font-size: 305%;
    transition: 0.5s;
    
}
#welcome-section p {
    color: #14213D;
}
#welcome-section p:hover{
    color:white;
    background-color: #14213D;
    transition: 0.5s;
}

#sign-in-section{
    flex: 50%;
    justify-content: center;
    padding: 10%;
    font-size: 150%;
  
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
#sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#button{
    background-color: #14213D;
    color: white;
    border-radius: 10%;
    margin-top: 5px;
   
}

#button:hover {
    color: #14213D;
    background-color:#FCA311;
    transition: 0.5s;
}

#button a {
    color: white;
    text-decoration: none;
}


header figure {
    max-width: 20%;
    max-height: 20%;
}

footer {
    background-color: #14213D;
    color: white; 
    text-align: center;
}

/*displying the page as two vertical sections*/

#page {
    display: flex;
    flex-direction: row;
    min-height: 100%; /*to make the footer sticky at the bottom*/
}

/*MyAccount.html css*/

/*aside*/
aside {
    background-color: #14213D;
    width: 300px;
    min-width: 300px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; 
}


#profile {
   color: white;
   text-align: center;
}

 #profile img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
}

nav {
    height: 70%;
}

nav li{
    background-color: #60697B;
    list-style: none;
    padding: 10%;
    margin-bottom: 2%;
}

.menu_selected {
   background-color: #2A364F;
}

nav li:hover{
    background-color:#2A364F;
    transition: 0.5s;
}

nav li a {
    text-decoration: none;
    color: white;
}
/*main*/
main {
    padding-left: 5%;
    padding-right: 10%;
}

.accDetails {
    display: none;
}

.active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
}

/* find_mentor css */

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#orange {
    color:#FCA311;
    margin-left: 6px;
}

.mentor {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

#mentor-bottom{
    display:flex;
    flex-direction: row;
}

#request {
    position: absolute;
    border-radius: 20%;
    background-color:#FCA311;
    font-size: large; 
}

#request:hover {
    background-color:white;
    transition:0.5s;
}

#button-filters {
   border-radius: 20%;
   background-color:#FCA311;  
}

#button-filters:hover {
   background-color:#14213D;
   color:white;
   transition:0.5s; 
}

.filter-form {
    display:none; 
}

.active-form {
    position:absolute;
    display:block;
    background-color:#14213D;
    color:white;
}

#form-div {
    display: block;
    text-align: center;
    
}

#form-style {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color:#F4F4F4;
    border-color:#2A364F;
    border-bottom-width: 5px;
    border-style: solid;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.signup {
    display: flex;
    flex-direction: column;
}

.button {
    
}

/* styling tables*/

#users-table th {
    color: white;
    background-color: #2A364F;
    font-size: small;
    padding: 20px;
      border-style: solid;
    border-collapse:collapse;
    border-width: 1px;
    
}
#users-table td {
    color: #2A364F;
    padding: 20px;
    border-style: solid;
    border-collapse:collapse;
    border-width: 1px;
}

#users-table{
   border-collapse: collapse;
}