<%= erb :"commons/header" %>
<div id="form-div">
<form method="post" id="form-style">
    <div class="flex-row">
    <p class="label">First name</p>
    <p class="field"><input type="text" name="first_name" /></p>

    <p class="label">Surname</p>
    <p class="field"><input type="text" name="surname" /></p>
    </div>
    <p class="label">Admin Code</p>
    <p class="field"><input type="text" name="admin_code" /></p>

    <div class="flex-row">
    <p class="label">Email</p>
    <p class="field"><input type="email" name="email" /></p>
    <p class="label">Password</p>
    <p class="field"><input type="password" name="password" /></p>
    </div>
    <button type="submit" id="button" name="admin_submit"> Submit </button>
</form>
</div>
<%= erb :"commons/footer" %>