<%= erb :"commons/header" %>

<form method="post">
    <p class="label">First name</p>
    <p class="field"><input type="text" name="first_name"></p>

    <p class="label">Surname</p>
    <p class="field"><input type="text" name="surname"></p>

    <p class="label">Admin Code</p>
    <p class="field"><input type="text" name="code"></p>

    <p class="label">Email</p>
    <p class="field"><input type="email" name="email"></p>

    <p class="label">Password</p>
    <p class="field"><input type="password" name="password"></p>

    <p><button type="submit" id="button">Submit</button></p>
</form>

<%= erb :"commons/footer" %>