<%= erb :"commons/header" %>
    <header>
        <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
    </header>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="my-account"> My Account</a></li>
                <li><a href="find-mentor"> Find A Mentor</a></li>
                <li><a href="requests"> My Requests</a></li>
                <li><a href="get-help"> Get Help</a></li>
            </nav>
        </aside>
        <main>
            <%= erb :"commons/header" %>
<header>
 Available Mentors
    </header>
<div id="page">
        <aside>
            <div id="mentorlist">
                
                
                <main>
<h1>Mentor Name</h1>
<p>Mentor Background:</p>
                    <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>
<hr>

<h2>Mentor Name</h2>
<p>Mentor Background:</p>
          <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>          
<hr>

<h3>Mentor Name</h3>
<p>Mentor Background:</p>
                    <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>


        </main> 
           </div> 
                
<%= erb :"commons/footer" %>