<%= erb :"commons/header" %>
<header>
 Available Mentors
    </header>
<div id="page">
        <aside>
            <div id="mentorlist">
                
                
                <main>
<h1>Mentor Name</h1>
<p>Mentor Background:</p>
                    <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>
<hr>

<h2>Mentor Name</h2>
<p>Mentor Background:</p>
          <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>          
<hr>

<h3>Mentor Name</h3>
<p>Mentor Background:</p>
                    <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="mentor picture">
                </figure>


        </main> 
           </div> 
                


<%= erb :"commons/footer" %>