<%= erb :"commons/header" %>
    <header>
        <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
    </header>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
             <nav class="menu">
                <li><a href="/my-account-mentee"> > My Account</a></li>
                <li class="menu_selected"><a href="/find-mentor"> > Find A Mentor</a></li>
                <li><a href="/requests"> > My Requests</a></li>
                <li><a href="/get-help"> > Get Help</a></li>
            </nav>
        </aside>
        <main>
            <div id="mentors">
                <div class="top">
                    <div id="mentor-bottom">
                       <h2>Available </h2> 
                       <h2 id="orange"> Mentors</h2>
                    </div>
                    <div class="filter">
                    <button class="button" id="button-filters" >
                        Filters
                    </button>
                    <form class="accDetails">
                       <p>Gender</p>
                      <input type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label><br>
                      <input type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label><br>
                      <input type="radio" id="other" name="gender" value="none-binary">
                      <label for="none-binary">None-binary</label> 
                    </form>
                    <script>
                    var submitButton = document.getElementsByClassName('button')[0]
                    var accdetails = document.getElementsByClassName('accDetails')[0]
                    submitButton.addEventListener('click',function(a){accdetails.classList.toggle('active-form')})
                </script>
                    </div>
                </div>
                <div class="mentorsList">
                    <div class="mentor">
                        <section id="mentor-top">
                            <button id="request">
                            Request
                            </button>
                        </section>
                        <section id="mentor-bottom">
                        <aside>
                            <div id="profile">
                            <figure>
                               <!--this img just for testing-->
                            <img src="/background.jpeg" alt="personal Id picture">
                            <figcaption>University email</figcaption>
                        </figure>
                    </div>
                      </aside>
                            <main>
                            <h1>Mentor Name</h1>
                                <p>Mentor Biography: Hi, my name is """"" and I'm looking fowrward to 
                                helping you out with your studies.</p>
                            </main>
                        </section>
                    </div>
                <div class="mentor">
                        <section id="mentor-top">
                            <button id="request">
                            Request
                            </button>
                        </section>
                        <section id="mentor-bottom">
                        <aside>
                            <div id="profile">
                            <figure>
                               <!--this img just for testing-->
                            <img src="/background.jpeg" alt="personal Id picture">
                            <figcaption>University email</figcaption>
                        </figure>
                    </div>
                      </aside>
                            <main>
                            <h1>Mentor Name</h1>
                                <p>Mentor Biography: Hi, my name is """"" and I'm looking fowrward to 
                                helping you out with your studies.</p>
                            </main>
                        </section>
                    </div>
                <div class="mentor">
                        <section id="mentor-top">
                            <button id="request">
                            Request
                            </button>
                        </section>
                        <section id="mentor-bottom">
                        <aside>
                            <div id="profile">
                            <figure>
                               <!--this img just for testing-->
                            <img src="/background.jpeg" alt="personal Id picture">
                            <figcaption>University email</figcaption>
                        </figure>
                    </div>
                      </aside>
                            <main>
                            <h1>Mentor Name</h1>
                                <p>Mentor Biography: Hi, my name is """"" and I'm looking fowrward to 
                                helping you out with your studies.</p>
                            </main>
                        </section>
                    </div>
                </div>
             </div>
        </main>
</div>
                
<%= erb :"commons/footer" %>