<%= erb :"commons/header" %>
        <div id="page">
        <section id="welcome-section">
            <h1>
                WELCOME TO THE MENTOR-MENTEE MATCHING SYSTEM!
            </h1>
            <P>
                This system is created by team33 to help mentees find a suitable mentor in a more effecient way
            </P>
        </section>
           
        <section id="sign-in-section">
             
            <div class="container">
                <h2>
                        sign in 
                </h2>
                    <form method="post" action="/" name="sign-in" id="sign-in">
                        <% unless @error.nil? %>
                           <p><strong class="error"><%= @error %></strong></p>
                        <% end %>
                        <label for="username">Enter your Username</label>
                        <input type="username" name="username" id="username" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                        <button type="submit" action="submit" id="button" name="signin"> Sign in</button>
                    </form> 

                <p> not a member? </p>
                    
                    <form action="/signup.html" class="signup">
                        <button type="submit" id="button" name="mentee-signup"> 
                            <a href="mentee-form"> sign up as a mentee</a>
                        </button>
                        <button type="submit" id="button" name="mentor-signup"> 
                            <a href="mentor-form"> sign up as a mentor</a>
                        </button>
                        <button type="submit" id="button" name="admin-signup"> 
                            <a href="admin-form"> sign up as an admin</a>
                        </button>
                    </form>
            </div>
        </section>
    </div>

<%= erb :"commons/footer" %>

