<%= erb :"commons/header" %>

<form method="post">
    <p class="label">First name</p>
    <p class="field"><input type="text" name="first_name"></p>

    <p class="label">Surname</p>
    <p class="field"><input type="text" name="surname"></p>

    <p class="label">Course</p>
    <p class="field"><input type="text" name="course"></p>
    

    <p class="label">Year of study</p>
    <p class="field"><input type="text" name="year_of_study"></p>

    <p class="label">Email</p>
    <p class="field"><input type="email" name="email"></p>

    <p class="label">Password</p>
    <p class="field"><input type="password" name="password"></p>

    <p class="submit"><input type="submit" value="Submit"></p>
</form>

<%= erb :"commons/footer" %>