<%= erb :"commons/header" %>
    <header>
        <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
    </header>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-mentee?id=<%= @mentee.id %>"> My Account</a></li>
                <li><a href="/find-mentor"> Find A Mentor</a></li>
                <li><a href="/requests?id=<%= @mentee.id %>"> My Requests</a></li>
                <li><a href="/get-help"> Get Help</a></li>
            </nav>
        </aside>
        <main>
            <h1>Here is the requests details</h1>
        </main>
</div>
<%= erb :"commons/footer" %>