<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/style.css">
        <meta http-equiv = "refresh" content = "2; url = /find-mentor" />
    </head>
    <body>
        <header>
            <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
        </header>
        <div id="page">
            <main>
                <h1 id="success"> Your request was successfully sent! </h1>
                <p>You can see your requests' status on "My requests" page.</p>
            </main>
        </div>
<%= erb :"commons/footer" %>