<table id="users-table">
    <tr>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <% @faqs.each do |faq| %>
        <% if (faq.user_type == "mentor") || (faq.user_type == "both") %>
            <tr id="selectedRow">
                <td> <%=h faq.question %> </td>
                <td> <%=h faq.answer %> </td>
            </tr>
        <% end %>
    <% end %>
</table>