  <table id="users-table">
                    <tr>
                      <th>Question</th>
                      <th>Answer</th>
                    </tr>
                    <tr id="selectedRow">
                       <td> How do you change password? </td>
                       <td> Contact the Admin by Email </td>
                    </tr>
    </table>