    <button type="submit" id="button" name="mentor_submit" onclick="successMessage"> Submit </button>
    <div id="snackbar">your account has been successfully created.</div> 
    <script>
        function successMessage() {
          alert('successMessage');
        }
    </script>